body{
    background-color: aliceblue;
}
.container{
    margin: 60px 20px;
}
form{
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px;
    padding: 8px;
    width: 95%;
    box-sizing: border-box;
    margin-top: 1Opx;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h1{
    text-align: center;
    font-style: italic;
    text-decoration: double;
    font-size: 30px;
    margin: 30px;
    padding: 0%;
    margin-bottom: 20px;
}
.box{
    margin-top: 30px;
}
.left{
    float: left;
    margin-left: 200px;
    margin-bottom: 5px;
    
}
.right{
    float: right;
    margin-right: 200px;
    margin-bottom: 5px;
    
}
label{
    display: block;
    margin-bottom: 8px;
    margin-bottom: 5px;   

}
input.add{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 16px;
}
button{
    width: 70px;
    height: 30px;
    border-radius: solid;
    border: 2px solid;
    border-color: black;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  button,a.margin-right {
    margin-right: 20px;
  }
  button.s1{
    background-color:lightgreen;
  }
  button.s2{
    background-color: lightcoral;
  }
  button.s3{
    background-color: lightblue;
  }
  button.s1:hover{
    border-color:  green;

  }
  button.s2:hover{
    border-color: red;
  }
  button.s3:hover{
    border-color: blue;
  }
